#for machine learning

#tensorflow

numpy

#network rout Algorithm
networkx

#speed up python
cacheout
#numba

#mininet,simulation network
git+git://github.com/mininet/mininet@master


#The Open vSwitch Database Management Protocol
#https://tools.ietf.org/html/rfc7047
git+git://github.com/iwaseyusuke/python-ovs-vsctl.git@master


#my fork version fix support openflow1.5 
git+git://github.com/Lu-Yi-Hsun/ryu.git@master

#ryu depend on these lib
webob
eventlet
msgpack
netaddr
oslo.config
ovs
routes
tinyrpc

#support two controllor connect
zmq
#support nested_dict a[][][]...
nested_dict

#for multi key
multi_key_dict