eventlet
#自己修補為了https://github.com/sphinx-doc/sphinx/pull/9179
git+git://github.com/Lu-Yi-Hsun/sphinx@4.x
sphinx-rtd-theme
pydata-sphinx-theme
sphinx-autodoc-typehints
nbsphinx
ipython
jupytext
jupyter
matplotlib
numpy
sphinx-automodapi
ryu
networkx
nested_dict
zmq