eventlet
#自己修補為了https://github.com/sphinx-doc/sphinx/pull/9179
sphinx
git+git://github.com/hoefling/sphinxcontrib-mermaid.git

sphinx-rtd-theme
pydata-sphinx-theme
sphinx-autodoc-typehints
#nbsphinx這個會跟sphinxcontrib-mermaid 衝突
ipython
jupytext
jupyter
matplotlib
numpy
sphinx-automodapi
git+git://github.com/Lu-Yi-Hsun/ryu.git@master
git+git://github.com/Lu-Yi-Hsun/sphinx@4.x
networkx
nested_dict
zmq